<% assignment = find_assignment(current_page) %>

<% wrap_layout :page_layout do %>
        <% content_for :page_title do %>
            <%=assignment.contextual_title%>
        <% end %>
        <% content_for :more_frontmatter do %>

            <div class="card assignment-card">
                <div class="card-block">
                    <div class="att row">
                        <div class="col-sm-2 att-label">
                            Deadline
                        </div>
                        <div class="col-sm-10">
                            <div class="deadline">
                                <%= assignment.friendly_deadline %>
                            </div>
                        </div>
                    </div>
                    <div class="att row">
                        <div class="col-sm-2 att-label">
                            Points
                        </div>
                        <div class="col-sm-10">
                            <span class="points">
                                <strong><%=assignment.points%></strong>
                            <span>
                            <span class="points-type">
                                <%=assignment.type%>
                            </span>
                            points
                        </div>
                    </div>
                    <% if assignment.deliverables %>
                        <div class="att row">
                            <div class="col-sm-2 att-label">
                                Deliverables
                            </div>
                            <div class="col-sm-10">
                                <section class="deliverables">
                                    <ul class="list">
                                        <% assignment.deliverables.each do |d| %>
                                            <li class="deliverable">
                                                <%= markdownify d %>
                                            </li>
                                        <% end %>
                                    </ul>
                                </section>
                            </div>
                        </div>
                    <% end %>
                    <% if assignment.deliverables %>
                        <div class="att row">
                            <div class="col-sm-2 att-label">
                                Requirements
                            </div>
                            <div class="col-sm-10">
                                <section class="requirements">
                                    <ul class="list">
                                        <% assignment.requirements.each do |d| %>
                                            <li class="deliverable">
                                                <%= markdownify d %>
                                            </li>
                                        <% end %>
                                    </ul>
                                </section>
                            </div>
                        </div>
                    <% end %>



                </div>
            </div>

        <% end %>
    <%= yield %>

    <% content_for :reefer do %>

<!--         <p>
            The full list of assignments, including grading policies and standards, can be found on the <a href="/assignments">Assignments</a> page.
        </p> -->

    <% end %>

<% end %>
