<%= partial '/layouts/site_partials/head' %>

  <body class="<%= page_classes %>">
    <%= yield %>

    <!-- <section class="traversal">
      <div class="container">
        <%= partial '/layouts/site_partials/traversal' %>
      </div>
    </section> -->

  </body>

<%= partial '/layouts/site_partials/foot' %>
