
<% wrap_layout :layout do %>
  <%= partial '/layouts/site_partials/header' %>
    <article class="page-layout">
      <section id="frontmatter" class="sec">
        <div class="container">

            <% if page_image_url %>
              <img class="page-image" src="<%=page_image_url%>" alt="">
            <% end %>

            <h1 class="page-title">
                <%= yield_content(:page_title) || page_title %>
            </h1>



            <% if page_nutgraf %>
              <div class="nutgraf">
                <div class="card">
                  <div class="card-block">
                    <%= markdownify page_nutgraf %>


                      <% if page_sequence? %>
                        <section class="sequence sec">
                          <p>
                            <em>This article is part of a series:</em>
                            <% if (o = page_landing_in_sequence) %>
                                <%=link_to o.title, o.url %>
                            <% end %>
                            </p>


                          <% if (o = page_previous_in_sequence) %>
                            <div>
                              Previous article: <%=link_to o.title, o.url %>
                            </div>
                          <% end %>
                          <% if (o = page_next_in_sequence) %>
                            <div>
                              Next article: <%=link_to o.title, o.url %>
                            </div>
                          <% end %>
                        </section>
                      <% end %>

                      <div class="toc-card sec">
                        <div class="header">Table of contents</div>
                        <div class="body">
                          <%= partial '/layouts/misc_partials/toc' %>
                        </div>
                      </div>


                  </div>
                </div>
              </div>
            <% end %>

            <%= yield_content :more_frontmatter %>
        </div>
      </section>


      <section id="contentbody" class="sec">
        <div class="container">
          <%= yield %>
        </div>
      </section>



    <section id="reefer" class="sec">
          <% if page_sequence? %>
          <div class="container">

            <section class="sequence sec">
              <p>
                <em>This article is part of a series:</em>
                <% if (o = page_landing_in_sequence) %>
                    <%=link_to o.title, o.url %>
                <% end %>
                </p>


                <% if page_sequence_contents? %>
                  <section class="sec contents">
                    <h4>Full contents of series</h4>
                    <ul class="list list-unstyled">
                      <% page_sequence_contents.each do |cr| %>
                         <li>
                            <strong><%=link_to_unless cr.url == page_url, cr.title, cr.url %></strong>
                            &ndash;
                            <span class="description">
                              <%=cr.description %>
                            </span>
                          </li>
                      <% end %>
                    </ul>
                  </section>
                <% end %>





              <% if (o = page_previous_in_sequence) %>
                <div>
                  Previous article: <%=link_to o.title, o.url %>
                </div>
              <% end %>
              <% if (o = page_next_in_sequence) %>
                <div>
                  Next article: <%=link_to o.title, o.url %>
                </div>
              <% end %>
            </section>

              </div>

          <% end %>

        <% if page_references? %>
          <section id="pagereferences" class="sec">
            <div class="container">
              <h4>References</h4>
              <ul class="list-unstyled references">
                <% page_references.each do |r| %>
                  <li>
                   <%= partial '/layouts/misc_partials/reference_item',
                       :locals => {:r => r} %>
                  </li>
                <% end %>
              </ul>
            </div>
          </section>
        <% end %>




      <div class="container">
        <%= yield_content :reefer %>
      </div>
    </section>



    </article>
  <%= partial '/layouts/site_partials/footer' %>
<% end %>
