
<% wrap_layout :layout do %>
  <%= partial '/layouts/site_partials/header' %>
    <article class="page-layout">
      <section id="frontmatter" class="sec">
        <div class="container">
            <h1 class="page-title">
                <%= yield_content(:page_title) || page_title %>
            </h1>

            <% if page_nutgraf %>
              <div class="nutgraf">
                <div class="card">
                  <div class="card-block">
                    <%= markdownify page_nutgraf %>

            <div class="toc-card">
              <div class="header">Table of contents</div>
              <div class="body">
                <%= partial '/layouts/misc_partials/toc' %>
              </div>
            </div>


                  </div>
                </div>
              </div>
            <% end %>

            <%= yield_content :more_frontmatter %>
        </div>
      </section>


      <section id="contentbody" class="sec">
        <div class="container">
          <%= yield %>
        </div>
      </section>


      <% if page_references? %>
        <section id="pagereferences" class="sec">
          <div class="container">
            <h4>References</h4>
            <ul class="list-unstyled references">
              <% page_references.each do |r| %>
                <li>
                 <%= partial '/layouts/misc_partials/reference_item',
                     :locals => {:r => r} %>
                </li>
              <% end %>
            </ul>
          </div>
        </section>
      <% end %>


    <section id="reefer" class="sec">
      <div class="container">
        <%= yield_content :reefer %>
      </div>
    </section>



    </article>
  <%= partial '/layouts/site_partials/footer' %>
<% end %>
