<% lesson = find_schedule_lesson(current_page) %>

<% content_for :page_title do %>
    <%=friendly_date page_date %>
<% end %>


<% wrap_layout :page_layout do %>
        <section class="sec agenda">
            <h1>Agenda</h1>
            <% if (agenda = lesson.agenda) %>
                <% agenda.each do |item| %>
                    <div class="item">
                        <h5 class="title"><%=link_to item.title, item.url %></h5>
                        <div class="description">
                            <%=item.description %>
                        </div>

                    </div>
                <% end %>
            <% end %>


            <% if (xa = assignments_assigned_on(lesson.date)) %>
                <h2>Assignments</h2>
                <% xa.each do |a| %>
                    <div class="item">
                        <h6 class="title"><%=link_to a.contextual_title, a.url %></h6>
                        <div class="description">
                            <div class="date">
                            <%= a.due_date.strftime('%A') %>,
                            <%=a.friendly_short_deadline%>
                            </div>

                            <%=a.description %>
                        </div>
                    </div>
                <% end %>
            <% end %>


        </section>


        <section class="sec">
          <%= yield %>
        </section>


<% end %>
