---
title: Syllabus and Lesson Schedule
description: |
    A listing of lessons and concepts planned for the Fall 2016 session of Public Affairs Data Journalism I
---


<p>
    Clickable-lesson dates will have fully-detailed notes. To see more information about the assignments, go to the <a href="/assignments">Assignments page</a>.
</p>


<section id="schedule-list" class="sec">

        <% schedule.each do |lesson| %>
            <div class="lesson">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="date date-title">
                            <%=link_to_unless lesson.stub?, friendly_date(lesson.date), lesson.url %>
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <div class="agenda">
                            <ul class="list agenda-items">
                                    <% adues = assignments_due_on(lesson.date) %>
                                    <% if adues.present? %>
                                        <div class="card">
                                            <div class="card-block">
                                                <ul>
                                                    <% adues.each do |a| %>
                                                        <li><strong>Due at <%=a.due_time%>:</strong>
                                                            <br>
                                                            <%=link_to_unless a.stub?, a.contextual_title, a.url%>
                                                        </li>
                                                    <% end %>
                                                </ul>

                                            </div>
                                        </div>
                                    <% end %>

                                    <% lesson.agenda.each do |item| %>
                                        <li>
                                            <strong><%=link_to_if item.url, item.title, item.url %></strong>
                                            <% if item.description.present? %>
                                                <div class="description"><%= markdownify item.description %></div>
                                            <% end %>
                                        </li>
                                    <% end %>

                                    <% if (xa = assignments_assigned_on(lesson.date)) %>
                                        <% xa.each do |a| %>
                                            <li class="item">
                                                <h6 class="title"><%=link_to a.contextual_title, a.url %></h6>
                                                <div class="description">
                                                    <%=a.description %>
                                                </div>
                                            </li>
                                        <% end %>
                                    <% end %>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>

</section>
