---
title: Syllabus and Lesson Schedule
description: |
    A listing of lessons and concepts planned for the Fall 2016 session of Public Affairs Data Journalism I
---


<p>
    Clickable-lesson dates will have fully-detailed notes. To see more information about the assignments, go to the <a href="/assignments">Assignments page</a>.
</p>


<section id="schedule-list" class="sec">

        <% schedule.each do |lesson| %>
            <div class="lesson">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="date date-title">
                            <%=link_to_unless lesson.stub?, friendly_date(lesson.date), lesson.url %>
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <div class="agenda">
                            <ul class="list agenda-items">
                                    <% lesson.agenda.each do |item| %>
                                        <li>
                                            <strong><%=item.title %></strong>
                                            <% if item.description.present? %>
                                                <div class="description"><%= markdownify item.description %></div>
                                            <% end %>
                                        </li>
                                    <% end %>

                                    <ul>
                                    <% assignments_due_on(lesson.date).each do |a| %>

                                        <li><strong>Due at <%=a.due_time%>:</strong>
                                            <%=link_to_unless a.stub?, a.contextual_title, a.url%></li>
                                    <% end %>
                                    </ul>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>

</section>
